body,
html {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.quadrant {
  position: relative;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
}

#nwQuadrant {
  /* Upper Left */
  border-right: 1px solid black;
}

#neQuadrant {
  /* Upper Right */
  color: white;
}

#swQuadrant {
  /* Bottom Left */
  background-color: #121212;
  color: white;
  font-family: monospace;
  border-top: 1px solid black;
  border-right: 1px solid black;
  overflow: auto;
}

#seQuadrant {
  /* Bottom Right */
  border-top: 1px solid black;
}

.button {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: #333;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #444;
}
.button:active {
  background-color: #555;
}

.log-element {
  padding: 5px;
  background-color: #333;
  border-top: 1px solid #111;
  padding-left: 31px;
}

.log-element.info {
  color: #ffffff;
  border-left: 1px solid #333;
}

.log-element.warn {
  color: #e19e00;
}

.log-element.error {
  color: #ff3030;
}

.step-result {
  border-top: 1px solid #333;
}

.step-result.skipped {
  opacity: 0.5;
}

.step-result-row {
  padding: 3px;
  background-color: #222;
}

.step-result-inner-logs {
  padding-left: 10px;
}

#swQuadrant .foldable-log-container {
  padding-left: 7px;
  background-color: #333;
  border-left: 1px solid white;
}

#swQuadrant .foldable-log-top-container {
  font-family: monospace;
  background-color: #333;
}

/* Styles for foldable containers */
#swQuadrant .foldable-log-container, 
#swQuadrant .foldable-log-top-container {
  padding: 5px;
  border-top: 1px solid black;
  border-left: 1px solid white;
  border-radius: 0px;
  overflow: hidden;
}

/* Styles for toggle buttons */
#swQuadrant .foldable-log-container > button, 
#swQuadrant .foldable-log-top-container > button {
  background-color: #333333;
  color: #eeeeee;
  padding: 0px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: monospace;
}

/* Hover styles for toggle button */
#swQuadrant .foldable-log-container > button:hover, 
#swQuadrant .foldable-log-top-container > button:hover {
  background-color: #555555;
  color: #ffffff;
}

/* Styles for hidden content */
#swQuadrant .foldable-log-content {
  display: none;
  padding: 3px 0px 3px 7px;
}

/* Styles for expanded sections */
#swQuadrant .foldable-log-container.expanded > .foldable-log-content,
#swQuadrant .foldable-log-top-container.expanded > .foldable-log-content {
  display: block;
}

/* Specific rule to hide all nested elements inside a non-expanded top container */
#swQuadrant .foldable-log-top-container:not(.expanded) .foldable-log-container,
#swQuadrant .foldable-log-top-container:not(.expanded) .foldable-log-container .foldable-log-content {
  display: none;
}
