body,
html {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.quadrant {
  width: 50%;
  height: 50%;
  box-sizing: border-box;
}

#nwQuadrant {
  /* Upper Left */
  border-right: 1px solid black;
}

#neQuadrant {
  /* Upper Right */
}

#swQuadrant {
  /* Bottom Left */
  background-color: #121212;
  color: white;
  font-family: monospace;
  border-top: 1px solid black;
  border-right: 1px solid black;
  overflow: auto;
  padding: 12px;
}

#seQuadrant {
  /* Bottom Right */
  border-top: 1px solid black;
}

#log {
  width: 100%;
  height: 100%;
}
